/*---------------------------------------------------------------------------------- VARIABLES ---*/

/*---------------------------------------------------------------------------------- TYPOGRAPHY ---*/

h1.h1_small {
  font-size: 2.7rem;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 10px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e6e6e6;
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #7d7c7c;
}

/*---------------------------------------------------------------------------------- GLOBAL ---*/

body {
  background-color: #FAFAFA;
}

.card {
  margin: .5rem 0 2rem 0;
}

.no_margin_top {
  margin-top: 0 !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.button-collapse {
  margin-left: 15px;
}

#sidenav-overlay {
  z-index: 0 !important;
}

.accent {
  background-color: #607d8b;
  color: #ffffff;
}

.accent:hover {
  background-color: #566f7c;
}

/*---------------------------------------------------------------------------------- BUTTONS ---*/

.button {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
  display: inline-block;
  outline: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer !important;
}

.button .amber:hover {
  background-color: #e65100 !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-floating.amber:hover {
  background-color: #e65100 !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.watchlist_circle_btn {
  position: absolute;
  right: 0;
}

/*---------------------------------------------------------------------------------- HEADER ---*/

header {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

header .item {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
}

header .overlay .content {
  padding: 0 30px 0 0;
  position: absolute;
  bottom: 30px;
  left: 50px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header .overlay .content {
    bottom: 35px !important;
  }
}

header .overlay .content h1 {
  margin-bottom: 10px;
}

header .overlay .content .actions {
  margin: 30px 0;
  display: block;
}

header .owl-item {
  height: 80vh;
}

header .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  header .owl-dots {
    bottom: 15px;
  }
}

header .owl-dots .owl-dot {
  background: rgba(255, 255, 255, 0.6);
  width: 8px;
  height: 8px;
}

header .owl-dots .owl-dot:hover,
header .owl-dots .owl-dot.active {
  background: white;
  width: 12px;
  height: 12px;
}

header.small {
  height: 50vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.small .overlay {
  background: rgba(0, 0, 0, 0.3);
}

header.small .overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), color-stop(55%, rgba(0, 51, 85, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #000 0, rgba(0, 51, 85, 0) 55%, rgba(0, 0, 0, 0) 100%);
}

header.smaller {
  height: 35vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.smaller .overlay {
  background: rgba(0, 0, 0, 0.3);
}

header.smaller .overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000), color-stop(55%, rgba(0, 51, 85, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #000 0, rgba(0, 51, 85, 0) 55%, rgba(0, 0, 0, 0) 100%);
}

/*---------------------------------------------------------------------------------- LOGIN BUTTON ---*/

#login_button {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
  position: absolute;
  right: 75px;
  top: 10px;
  border: 1px solid #fff;
  border-radius: 999px;
  color: #fff;
  display: inline-block;
  padding: 10px 50px;
  text-align: center;
  line-height: normal;
}

#login_button:hover {
  background: #fff;
  color: #222;
}

/*---------------------------------------------------------------------------------- LOGGED IN USER INFORMATION ---*/

#user_info {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
  border-radius: 100%;
  padding: 0 3px;
  position: absolute;
  right: 75px;
  top: 8px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: normal;
}

#user_info * {
  display: inline-block;
}

#user_info p {
  margin-right: 5px;
}

#user_info img {
  width: 100%;
  height: 100%;
}

#user_info .dropdown {
  top: 60px;
  right: 47px;
}

#user_info .dropdown li {
  float: right;
}

#user_info .dropdown li a {
  margin: 0;
}

#user_info .dropdown li a i {
  line-height: 40px;
}

.watchlist_btn {
  margin-left: 15px;
  margin-right: -15px;
}

.watchlist_btn i {
  line-height: 42px !important;
}

/*---------------------------------------------------------------------------------- NAV ---*/

#logo a {
  padding: 0 5px;
}

#logo a:hover {
  background-color: transparent;
}

#logo svg {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
  margin: 10px 0 0 20px;
  width: 50px;
  height: 50px;
}

#logo svg:hover {
  fill: #a2a2a2;
}

nav.home {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent !important;
  z-index: 100;
  box-shadow: none;
  -webkit-box-shadow: none;
}

nav.home ul li {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
}

nav.home ul li a {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
}

#nav_search #search_icon {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
}

#nav_search #search_overlay {
  overflow: auto;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(221, 221, 221, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#nav_search #search_overlay h2 {
  color: #607d8b;
}

#nav_search #search_overlay .input-field {
  color: #607d8b;
  width: 80vw;
  position: absolute;
  top: 100px;
  left: 10vw;
  font-size: 40px;
  height: auto;
  border-bottom: 1px solid #607d8b;
}

#nav_search #search_overlay .input-field .prefix.active {
  color: #607d8b;
}

#nav_search #search_overlay .input-field input {
  height: auto;
  font-size: 40px;
  padding-left: 0;
  text-transform: capitalize;
}

#nav_search #search_overlay ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #607d8b;
}

#nav_search #search_overlay ::-moz-placeholder {
  /* Firefox 19+ */
  color: #607d8b;
}

#nav_search #search_overlay :-ms-input-placeholder {
  /* IE 10+ */
  color: #607d8b;
}

#nav_search #search_overlay :-moz-placeholder {
  /* Firefox 18- */
  color: #607d8b;
}

#nav_search #search_overlay #search_close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #222;
  cursor: pointer;
  line-height: normal;
}

#nav_search #search_overlay #results {
  overflow: auto;
  position: absolute;
  top: 200px;
  left: 10vw;
  width: 80vw;
}

#nav_search #search_overlay #results .row a {
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

#nav_search #search_overlay #results .row a .card {
  max-height: 175px;
  overflow: hidden;
}

#nav_search #search_overlay #results .row a .card-image {
  height: 175px;
  position: relative;
}

#nav_search #search_overlay #results .row a .card-image img {
  height: 100%;
}

#nav_search #search_overlay #results .row a .card-stacked .card-content {
  overflow: hidden;
  padding: 0 !important;
  margin: 24px;
}

#nav_search #search_overlay #results .row a .card-stacked .card-content h3 {
  margin: 0 0 10px;
  color: #222;
  font-size: 18px;
}

#nav_search #search_overlay #results .row a .card-stacked .card-content p {
  color: #7d7d7d;
  font-size: 12px;
  line-height: 20px;
}

#nav_search #search_overlay #results .row a:hover {
  background: none;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#nav_search #search_overlay #results .row a:hover .card {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------------------------------------- SLIDERS ---*/

.disabled.owl-nav {
  display: none;
}

.owl-item {
  display: inline-block;
}

.owl-item {
  display: inline-block;
}

.owl-dots {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.owl-dots .owl-dot {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
  margin: auto 4px;
  -webkit-border-radius: 15px;
  border: none;
  border-radius: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6px;
  height: 6px;
  background: rgba(40, 43, 46, 0.4);
  padding: 0;
}

.owl-dots .owl-dot:hover,
.owl-dots .owl-dot.active {
  width: 8px;
  height: 8px;
  background: rgba(40, 43, 46, 0.8);
  margin-top: 0;
}

/*---------------------------------------------------------------------------------- THUMBNAIL ---*/

.item_container {
  overflow: hidden;
  position: relative;
}

.movie_thumb .card {
  -webkit-transition: all .2s ease !important;
  transition: all .2s ease !important;
}

.movie_thumb .card h4 {
  font-size: 24.6px;
  color: #000;
}

.movie_thumb .card:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.movie_thumb .card:hover .card-actions::before,
.movie_thumb .card:hover .card-actions i {
  opacity: 1;
}

.movie_thumb .card .card-actions {
  z-index: 1;
  position: absolute;
  color: #fff;
  width: 100%;
}

.movie_thumb .card .card-actions::before {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  content: '';
  background: linear-gradient(to bottom, #222 0, transparent 70px);
  z-index: -1;
}

.movie_thumb .card .card-actions i {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 0;
  padding: 5%;
  cursor: pointer;
}

.movie_thumb .card .card-actions i:first-child {
  float: left;
}

.movie_thumb .card .card-actions i:last-child {
  float: right;
}

.movie_thumb .card .card-actions i:hover {
  color: #b0b0b0;
}

.card_new {
  position: relative;
  margin: .5rem 9px 2rem 0;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.card_new:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card_new:hover .card-actions {
  display: block;
  opacity: 1;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.card_new:hover .card-actions::before {
  opacity: 1;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.card_new:hover .card-image {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.card_new .card-actions {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.card_new .card-actions i {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
}

.card_new .card-actions::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(40, 43, 46, 0.5) 0, transparent 70px);
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  z-index: -1;
}

.card_new .card-image {
  border-radius: 2px;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.card_new .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card_new .card-content h4 {
  color: #282B2E;
  font-size: 18px;
}

.card_new .card-content .rating {
  text-align: center;
  background-color: #607d8b;
  position: absolute;
  top: 60%;
  right: -19px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card_new .card-content .rating span {
  line-height: 42px;
}

.card_new.cast h5 {
  font-size: 16px;
}

.card_new.cast h6 {
  font-size: 12px;
  font-weight: lighter;
}

.card_new.cast:hover {
  -webkit-transform: none !important;
          transform: none !important;
}

.card_new.cast:hover .card-image {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

/*---------------------------------------------------------------------------------- DETAIL PAGE ---*/

#trailer_container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 101;
  display: none;
}

#trailer_container .close {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#trailer_container #video_view iframe {
  margin: 10vh 0 0 10vw;
  width: 80vw;
  height: 80vh;
  z-index: 1;
}

.detail {
  margin-top: -200px;
  z-index: 3;
  position: relative;
}

.detail h3 {
  margin-top: 30px;
}

.detail .poster {
  float: left;
}

.detail .header_content {
  padding: 0 30px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  float: left;
  width: calc(100% - 300px);
}

.detail .header_content h1 {
  margin-top: 0;
  display: block;
  height: 69px;
  line-height: 69px;
}

.detail .header_content h3 {
  margin-top: 10px;
  display: block;
}

.detail .header_content .date {
  margin-top: 15px;
}

.detail .header_content .date span:first-of-type {
  margin-right: 20px;
}

.detail .header_content .date i {
  vertical-align: middle;
}

.detail .header_content .plot {
  padding-top: 40px;
  color: #222;
  font-size: 15px;
}

.detail .header_content .trailer_button {
  margin-right: 10px;
  margin-bottom: 5px;
}

.detail .cast_member:hover div.card {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.object_info {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.object_info .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object_info .background::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.object_info .container {
  margin: 30px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
}

.object_info .container h3 {
  margin-top: 0;
  color: #222;
}

.object_info .crew_member {
  display: inline-block;
  padding-right: 30px;
}

.object_info .crew_member h5 {
  margin-top: 0;
}

.object_info .company {
  display: block;
}

.object_info h5 {
  font-size: 1.44rem;
  margin: 20px 0 10px;
}

.slider_controls {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

.slider_controls a:nth-child(1) {
  margin-left: -17.5px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0px;
}

.slider_controls a:nth-child(2) {
  margin-right: -35px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0px;
}

.slider {
  margin-bottom: 20px;
  overflow: hidden;
  height: 100%;
}

.slider .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .owl-stage-outer {
  overflow: visible;
}

@media screen and (max-width: 992px) {
  .watchlist_circle_btn {
    margin-top: 30px;
  }

  .detail {
    margin-top: -150px;
  }

  .detail .header_content {
    padding: 0 20px;
    color: #fff;
    float: left;
    width: calc(100% - 40px);
  }

  .detail .header_content h1 {
    margin-top: 0;
    display: block;
    height: 69px;
    line-height: 69px;
  }

  .detail .header_content h3 {
    margin-top: 10px;
    display: block;
  }

  .detail .header_content .plot {
    padding-top: 40px;
    color: #222;
    font-size: 15px;
  }

  .detail .header_content .trailer_button {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60vh;
  }

  header .owl-item {
    height: 60vh;
  }

  header .overlay .content {
    padding: 0 30px 0 0;
    bottom: 15px;
    left: 30px;
  }

  header .overlay .content h1 {
    margin-bottom: 10px;
  }

  header .overlay .content .actions {
    margin: 30px 0;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .item .card .card-content {
    padding: 15px;
  }

  .item .card .card-content h4 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .item .card .card-content {
    padding: 10px;
  }

  .item .card .card-content h4 {
    font-size: 16px;
    line-height: 16px;
  }
}

.card h5 {
  color: #222;
  font-size: 14px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #7d7d7d;
}

.card h6 {
  color: #7d7d7d;
  font-size: 14px;
  margin-bottom: 0;
}

.block {
  position: relative;
}

