/*---------------------------------------------------------------------------------- BUTTONS ---*/
.button{
	@include transition;
    display: inline-block;
    outline: 0;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
	cursor: pointer!important;

    .amber:hover{
        background-color: #e65100 !important;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
}

.btn-floating.amber:hover{
    background-color: #e65100 !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.watchlist_circle_btn{
	position: absolute;
	right: 0;
}
