/*---------------------------------------------------------------------------------- DETAIL PAGE ---*/
#trailer_container{
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 101;
	display: none;

	.close{
		color: #fff;
		font-size: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	#video_view iframe{
		margin: 10vh 0 0 10vw;
		width: 80vw;
		height: 80vh;
		z-index: 1;
	}
}

.detail{
    margin-top: -200px;
    z-index: 3;
    position: relative;

    h3{
        margin-top: 30px;
    }


    .poster{
        float: left;
    }

    .header_content{
        padding: 0 30px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        float: left;
        width: #{"calc(100% - 300px)"};

        h1{
            margin-top: 0;
            display: block;
            height: 69px;
            line-height: 69px;
        }

        h3{
            margin-top: 10px;
            display: block;
        }

        .date{
            margin-top: 15px;

            span:first-of-type{
                margin-right: 20px;
            }

            i{
                vertical-align: middle;
            }
        }

        .plot{
            padding-top: 40px;
            color: #222;
            font-size: 15px;
        }

        .trailer_button{
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }

    .cast_member{
        .card{
            // .transition
        };

        &:hover div.card{
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -moz-transform: scale(1.04);
            -webkit-transform: scale(1.04);
            -o-transform: scale(1.04);
            -ms-transform: scale(1.04);
            transform: scale(1.04);
        }
    }
}

.object_info{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    .background{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .2);
            z-index: 1;
        }
    }

    .container{
        margin: 30px auto;
        padding: 30px;
        background-color: rgba(255, 255, 255, .9);
        color: #222;

        h3{
            margin-top: 0;
            color: #222;
        }
    }

    .crew_member{
        display: inline-block;
        padding-right: 30px;

        h5{
            margin-top: 0;
        }
    }

    .company{
        display: block;
    }

    h5{
        font-size: 1.44rem;
        margin: 20px 0 10px;
    }
}

.slider_controls{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    a:nth-child(1){
        margin-left: -17.5px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
    }

    a:nth-child(2){
        margin-right: -35px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0px;
    }
}

.slider{
    margin-bottom: 20px;
    overflow: hidden;
    height: 100%;

    .owl-stage{
        display: flex;
    }
    .owl-stage-outer{
        overflow: visible;
    }
}
