/*---------------------------------------------------------------------------------- GLOBAL ---*/
body{
    background-color: $background;
}

@mixin transition{
    -webkit-transition: all .2s ease !important;
    -moz-transition: all .2s ease !important;
    -ms-transition: all .2s ease !important;
    -o-transition: all .2s ease !important;
    transition: all .2s ease !important;
}

.card{
    margin: .5rem 0 2rem 0;
}

.no_margin_top{
    margin-top: 0 !important;
}

.margin-top-50{
    margin-top: 50px !important;
}

.button-collapse{
    margin-left: 15px;
}

#sidenav-overlay{
    z-index: 0 !important;
}

.accent{
    background-color: $accent;
    color: $white;

    &:hover{
        background-color: darken($accent, 5%);
    }
}
