/*---------------------------------------------------------------------------------- HEADER ---*/
header{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: #fff;

    .item{
        width: 100%;
        height: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .overlay{
        background: rgba(0, 0, 0, .5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 30px;

        .content{
            padding: 0 30px 0 0;
            position: absolute;
            bottom: 30px;
            left: 50px;
            color: #fff;

            @media screen and (max-width: 768px) {
                bottom: 35px !important;
            }

            h1{
                margin-bottom: 10px;
            }

            .actions{
                margin: 30px 0;
                display: block;
            }
        }
    }

    .owl-item{
        height: 80vh;
    }

    .owl-dots{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);

        @media screen and (max-width: 768px) {
            bottom: 15px;
        }

        .owl-dot{
            background: rgba(255, 255, 255, .6);
            width: 8px;
            height: 8px;

            &:hover, &.active{
                background: rgba(255, 255, 255, 1);
                width: 12px;
                height: 12px;
            }
        }
    }
}

header.small{
    height: 50vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay{
        background: rgba(0, 0, 0, .3);

        &:after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(bottom, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(bottom, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            background: linear-gradient(to top, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            // filter: progid:DXImageTransform.Microsoft@include gradient(startColorstr='#000', endColorstr='#00000000', GradientType=0);
        }
    }
}

header.smaller{
    height: 35vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay{
        background: rgba(0, 0, 0, .3);

        &:after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(bottom, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(bottom, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            background: linear-gradient(to top, #000 0, rgba(0,51,85,0) 55%, rgba(0,0,0,0) 100%);
            // filter: progid:DXImageTransform.Microsoft@include gradient(startColorstr='#000', endColorstr='#00000000', GradientType=0);
        }
    }
}
