/*---------------------------------------------------------------------------------- LOGIN BUTTON ---*/
#login_button{
	@include transition;
	position: absolute;
	right: 75px;
	top: 10px;
	border: 1px solid #fff;
	border-radius: 999px;
	color: #fff;
	display: inline-block;
	padding: 10px 50px;
	text-align: center;
	line-height: normal;
}
#login_button:hover{
	background: #fff;
	color: #222;
}

/*---------------------------------------------------------------------------------- LOGGED IN USER INFORMATION ---*/
#user_info{
	@include transition;
	border-radius: 100%;
	padding: 0 3px;
	position: absolute;
	right: 75px;
	top: 8px;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: normal;

	*{
		display: inline-block;
	}

	p{
		margin-right: 5px;
	}

	img{
		width: 100%;
		height: 100%;
	}

	.dropdown{
		top: 60px;
		right: 47px;

		li{
			float: right;

			a{
				margin: 0;

				i{
					line-height: 40px;
				}
			}
		}
	}
}

.watchlist_btn{
	margin-left: 15px;
	margin-right: -15px;
	i{
		line-height: 42px!important;
	}
}
