/*---------------------------------------------------------------------------------- NAV ---*/
#logo {
	a{
		padding: 0 5px;

		&:hover{
			background-color: transparent;
		}
	}

	svg{
		@include transition;
		margin: 10px 0 0 20px;
		width: 50px;
		height: 50px;

		&:hover{
			fill: #a2a2a2;
		}
	}
}

nav.home{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent !important;
    z-index: 100;
    box-shadow: none;
    -webkit-box-shadow: none;

    ul li{
        @include transition;
    }

    ul li a{
        @include transition;

        &:hover{
            // background-color: transparent;
            // border-bottom: 1px solid white;
        }
    }
}

#nav_search{

    #search_icon{
		position: absolute;
		top: 0px;
		right: 20px;
		cursor: pointer;
    }

    #search_overlay{
		overflow: auto;
		display: none;
        width: 100vw;
        height: 100vh;
        background: rgba(221, 221, 221, 0.95);
        position: absolute;
        top: 0;
        left: 0;
		z-index: 5;

        h2{
            color: $accent;
        }

        .input-field{
            color: $accent;
            width: 80vw;
            position: absolute;
            top: 100px;
            left: 10vw;
            font-size: 40px;
			height: auto;
			border-bottom: 1px solid $accent;

            .prefix.active{
                color: $accent;
            }

            input{
                height: auto;
				font-size: 40px;
				padding-left: 0;
				text-transform: capitalize;
            }
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $accent;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: $accent;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: $accent;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: $accent;
        }

		#search_close{
			position: fixed;
			top: 20px;
			right: 20px;
			color: #222;
			cursor: pointer;
			line-height: normal;
		}

		#results{
			overflow: auto;
			position: absolute;
			top: 200px;
			left: 10vw;
			width: 80vw;

			.row a{
				transition: .2s ease all;

				.card{
					max-height: 175px;
					overflow: hidden;
				}

				.card-image{
					height: 175px;
					position: relative;

					img{
						height: 100%
					}
				}
				.card-stacked{
					.card-content{
						overflow: hidden;
						padding: 0 !important;
						margin: 24px;

						h3{
							margin: 0 0 10px;
							color: #222;
							font-size: 18px;
						}

						p{
							color: #7d7d7d;
							font-size: 12px;
							line-height: 20px;
						}
					}
				}

				&:hover{
					background: none;
					transform: scale(1.03);

					.card{
						box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
					}
				}
			}
		}
    }
}
