@media screen and (max-width: 992px) {
	.watchlist_circle_btn{
		margin-top: 30px;
	}
    .detail{
        margin-top: -150px;

        .header_content{
            padding: 0 20px;
            color: #fff;
            float: left;
            width: #{"calc(100% - 40px)"};

            h1{
                margin-top: 0;
                display: block;
                height: 69px;
                line-height: 69px;
            }

            h3{
                margin-top: 10px;
                display: block;
            }

            .plot{
                padding-top: 40px;
                color: #222;
                font-size: 15px;
            }

            .trailer_button{
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        height: 60vh;

        .owl-item{
            height: 60vh;
        }

        .overlay{
            .content{
                padding: 0 30px 0 0;
                bottom: 15px;
                left: 30px;

                h1{
                    margin-bottom: 10px;
                }

                .actions{
                    margin: 30px 0;
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .item{
        .card{
            .card-content{
                padding: 15px;

                h4{
                    font-size: 20px;
                    line-height: 20px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .item{
        .card{
            .card-content{
                padding: 10px;

                h4{
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }
}
