/*---------------------------------------------------------------------------------- SLIDERS ---*/
.disabled.owl-nav{
    display: none;
}

.owl-item{
    display: inline-block;
}

.owl-item{
    display: inline-block;
}

.owl-dots{
    position: absolute;
    // left: 50%;
    bottom: 0px;
    // transform: translateX(-50%);
    width: 100%;
    text-align: center;

    .owl-dot{
        @include transition;
        margin: auto 4px;
        -webkit-border-radius: 15px;
        border: none;
        border-radius: 15px;
        display: inline-flex;
        width: 6px;
        height: 6px;
        background: rgba($black, .4);
        padding: 0;

        &:hover, &.active{
            width: 8px;
            height: 8px;
            background: rgba($black, .8);
            margin-top: 0;
        }
    }
}
