/*---------------------------------------------------------------------------------- THUMBNAIL ---*/
.item_container{
    overflow: hidden;
    position: relative;
}

.movie_thumb .card{
    @include transition;

    h4{
        font-size: 24.6px;
        color: #000;
    }

    &:hover{
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -o-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }
	&:hover .card-actions::before, &:hover .card-actions i{
		opacity: 1;
	}

	.card-actions{
		z-index: 1;
		position: absolute;
		color: #fff;
		width: 100%;

		&::before{
			-webkit-transition: opacity .2s ease;
			-moz-transition: opacity .2s ease;
			-ms-transition: opacity .2s ease;
			-o-transition: opacity .2s ease;
			transition: opacity .2s ease;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100px;
			content: '';
			background: linear-gradient(to bottom, #222 0, transparent 70px);
			z-index: -1;
		}

		i{
			-webkit-transition: opacity .2s ease;
			-moz-transition: opacity .2s ease;
			-ms-transition: opacity .2s ease;
			-o-transition: opacity .2s ease;
			transition: opacity .2s ease;
			opacity: 0;
			padding: 5%;
			cursor: pointer;

			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
			}
			&:hover{
				color: #b0b0b0;
			}
		}
	}
}


.card_new{
    position: relative;
    margin: .5rem 9px 2rem 0;
    transition: .2s ease all;

    &:hover{
        transform: scale(1.01);

        .card-actions{
            display: block;
            opacity: 1;
            transition: .2s ease all;

            &::before{
                opacity: 1;
                transition: .2s ease all;
            }
        }

        .card-image{
            box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
        }
    }

    .card-actions{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        color: $white;
        opacity: 0;
        transition: .2s ease all;

        i{
            position: absolute;
            top: 10px;
            right: 8px;
            cursor: pointer;
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to bottom, rgba($black, .5) 0, transparent 70px);
            opacity: 0;
            transition: opacity .2s ease;
            z-index: -1;
        }
    }

    .card-image{
        border-radius: 2px;
        transition: .2s ease all;
        img{
            display: block;
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    }

    .card-content{
        h4{
            color: $black;
            font-size: 18px;
        }

        .rating{
            text-align: center;
            background-color: $accent;
            position: absolute;
            top: 60%;
            right: -19px;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

            span{
                line-height: 42px;
            }
        }
    }

    &.cast{
        h5{
            font-size: 16px;
        }
        h6{
            font-size: 12px;
            font-weight: lighter;
        }

        &:hover{
            transform: none !important;

            .card-image{
                box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3) !important; 
            }
        }
    }
}
