/*---------------------------------------------------------------------------------- TYPOGRAPHY ---*/
h1.h1_small{
    font-size: 2.7rem;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    margin: 50px 10px 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
}

h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #7d7c7c;
}
