/*---------------------------------------------------------------------------------- VARIABLES ---*/
$accent: #607d8b;
$accent-lighten-1: #ff8f00;
$accent-lighten-2: #ffa000;
$background: #FAFAFA;
$black: #282B2E;
$white: #ffffff;
