@import 'variables';
@import 'typography';
@import 'globals';
@import 'buttons';
@import 'header';
@import 'login';
@import 'nav';
@import 'slider';
@import 'thumbnail';
@import 'detail_page';
@import 'responsive';


.card{
    h5{
        color: #222;
        font-size: 14px;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #7d7d7d;
    }
    h6{
        color: #7d7d7d;
        font-size: 14px;
        margin-bottom: 0;
    }
}

.block{
    position: relative;
}
